:root {
  --header-height: 3rem;
  .headerBackplate{
    height: calc(var(--header-height) + 1.5rem);
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - calc(var(--header-padding) * 2));
    height: var(--header-height);
    padding: calc(var(--header-padding) / 2) var(--header-padding);
    box-shadow: 0 0 var(--text-color-dim), 0 4px 8px var(--text-color-dim);
    z-index: 10;
    background: white;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 3rem;
      cursor: pointer;
      position: relative;
      z-index: 30;
      path {
        transition: 300ms;
      }
      &.invert {
        path {
          fill: white;
        }
      }
    }
  }
}