
.card {
  /* red */
  width: 100%;
  height: 400px;
  background: white;
  transition: 300ms;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 #d9dee6, 0 4px 8px #d9dee6;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 var(--text-color-dim), 0 4px 8px var(--text-color-dim);
  }
  .thumbnail{
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0px 0px ;
  }
  .header{
    padding: 1rem;
  }
  .footer {
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 300;
    .profileImage{
      background-size: cover;
      background-position: center;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
    }
    .name{
      padding: 0 1rem;
    }
  }
}