.hamburger {
  cursor: pointer;
  position: relative;
  z-index: 30;
  height: 2.5rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  span {
    height: 0.3rem;
    width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 1rem;
    transition: 300ms;
    background-color: var(--primary-color);
  }
  &.active{
    span{
      @media screen and (max-width: 680px) {
        background-color: white;
      }
      &:first-of-type {
        transform: translateY(0.7rem) rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: translateX(-0.9rem);
        opacity: 0;
      }
      &:last-of-type {
        transform: translateY(-0.7rem) rotate(-45deg);
      }
    }
  }
}
