
.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  &.show {
    opacity: 1;
    pointer-events: all;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  &.show {
    opacity: 1;
    pointer-events: all;
  }
  button {
    position: absolute;
    border: none;
    background: grey;
  }
  .burgerWapping{
    margin-left: -4rem;
    margin-top: 1rem;
  }
  .imageContainer{
    height: calc(100vh - 10rem);
    max-width: 90%;
    overflow: auto;
    .image {
      cursor: pointer;
      min-height: 100%;
      display: block;
      transition: 300ms;
      transition-property: filter;
      filter: grayscale(1);
      &.loaded{
        filter: grayscale(0);
      }
    }
  }
}
