.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
  }
}