
.sideNav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  z-index: 20;
  transform: translateX(calc(-100% - 8px));
  will-change: translate;
  transition: 300ms;
  padding-top: 4rem;
  color: white;
  max-width: 680px;
  box-shadow: 0 0 var(--text-color-dim), 0 4px 8px var(--text-color-dim);
  &.show{
    transform: translateX(0%);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      height: 2rem;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 300;
      cursor: pointer;
      padding: 1rem;
      transition: 300ms;
      background: rgba(255,255,255, 0.1);
      &:hover {
        background: rgba(255,255,255, 0.4);
      }
      &:active {
        background: rgba(255,255,255, 0.8);
      }
      h5 {

      }
    }
  }
}
